body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 14px;
  color: rgb(238, 232, 232);
}

.pageholder {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fdfdfd;
}

.maincontainer {
  display: flex;
  background-color: #0aa3a3;
  border-radius: 20px;
  margin: auto;
  width: 97%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.listcontainer {
  float: left;
  max-width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(115, 192, 192);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  flex-basis: 25%;
}

.todyacontainer {
  display: flex;
  min-height: 400px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  margin-top: 40px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  background-color: rgb(115, 192, 192);
  flex-basis: 73%;
}

.cardholder {
  display: flex;
  flex-direction: row;
  max-width: 1360px;
  margin: 20px;
  margin-bottom: 36px;
  justify-content: space-between;
}

.card {
  background-color: rgb(115, 192, 192);
  max-height: 350px;
  max-width: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
}

.sendright {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.listcard {
  height: 84%;
  padding: 25px;
  border-radius: 25px;
  background-color: rgb(152, 212, 212);
  display: flex;
  flex-direction: column;
}

.cardlistelements {
  padding: 0px;
}

li {
  padding: 0px;
  line-height: 2rem;
  list-style: none;
}

h1 {
  font-size: 1.8rem;
}

.todaysheader {
  font-size: 1.5rem;
  padding-left: 10px;
}

.mainlistelements {
  padding: 0px;
  padding-left: 10px;
}

.input-container {
  display: flex;
  width: 100%;
  height: 30px;
}

.searchbutton {
  display: flex;
  border: none;
  background-color: rgb(228, 228, 228);
  color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  text-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.searchbutton:hover {
  background-color: lightcoral;
  cursor: pointer;
  color: white;
}

.text-area {
  margin: 0;
  border: none;
  display: inline-block;
  outline: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 20px;
}

.place {
  margin-top: 30px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: grey;
  flex-grow: 1;
}

.place:hover {
  background-color: lightcoral;
  cursor: pointer;
  color: white;
}

.resultscontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.clear {
  margin-top: 20px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #60c1ee;
  color: white;
}

.clear:hover {
  background-color: lightcoral;
  color: white;
  cursor: pointer;
}

.currentUV {
  margin-top: 10px;
  padding: 3px;
  border-radius: 10px;
  text-align: center;
  background-color: none;
}

.lowUv {
  background-color: #58b54e;
  transition: 250ms; 
}

.medUv {
  animation-name: backgroundColormed;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundColormed {
  0% {
    background: #f8b44e;
  }
  100% {
    background: #ffc56d;
  }
}


.highUv {
  animation-name: backgroundColorhigh;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundColorhigh {
  0% {
    background: #e43e3e;
  }
  100% {
    background: #ff4242;
  }
}

@media only screen and (max-width: 1570px) {
  .maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    height: auto;
    margin: 5px;
  }

  .resultscontainer {
    flex-direction: column;
  }

  .card {
    margin-bottom: 22px;
    width: auto;
  }

  .pageholder {
    height: auto;
  }

  .listcontainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1055px;
    border-radius: 20px;
    margin: 25px;
    flex-grow: 1;
    padding-bottom: 50px;
  }

  .sendright {
    width: 98%;
  }

  .title {
    padding: 0px;
  }
  .resultscontainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .cardholder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 375px) {
  .listcontainer {
    max-width: 288px;
    padding-bottom: 50px;
  }
  .listcard {
    max-width: 225px;
  }
  .text-area {
    max-width: 105px;
  }

  .maincontainer {
    margin: 5px;
  }

  .cardholder {
    margin-bottom: 0;
  }
}

.resultscontainer {
  flex-direction: column;
}

@media only screen and (max-width: 320px) {
  .listcard {
    max-width: 180px;
  }

  .text-area {
    max-width: 60px;
  }
  .cardholder {
    margin-bottom: 0;
  }
}
